Swiggy Restaurant Recommendation System Using Streamlit

In [2]:
import pandas as pd
df = pd.read_csv('swiggy.csv')

In [3]:
df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [67]:
#check duplicate datas
df.duplicated().sum()

np.int64(0)

In [ ]:
# Dropping unnecessary columns
df.drop(columns=['menu','link','address','lic_no'], inplace=True)

In [50]:
df.set_index('id', inplace=True)

In [51]:
df.head()

,name,city,rating,rating_count,cost,cuisine
id,,,,,,
567335,AB FOODS POINT,Abohar,0.0,11.0,200.0,"Beverages,Pizzas"
531342,Janta Sweet House,Abohar,4.4,62.0,200.0,"Sweets,Bakery"
158203,theka coffee desi,Abohar,3.8,101.0,100.0,Beverages
187912,Singh Hut,Abohar,3.7,27.0,250.0,"Fast Food,Indian"
543530,GRILL MASTERS,Abohar,0.0,16.0,250.0,"Italian-American,Fast Food"

In [52]:
df.shape

(148442, 6)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148442 entries, 567335 to 447770
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148442 non-null  object
 1   city          148442 non-null  object
 2   rating        148442 non-null  float64
 3   rating_count  148442 non-null  float64
 4   cost          148442 non-null  float64
 5   cuisine       148442 non-null  object
dtypes: float64(3), object(3)
memory usage: 7.9+ MB

In [ ]:
#null data clear : rating, link, rating_count

#all data correct : City

#●	Categorical: name, city, cuisine
#●	Numerical: rating, rating_count, cost

In [8]:
# Check for null values in particular columns
df = df.dropna(subset=['name', 'rating', 'rating_count', 'cost', 'cuisine'], how='all')

In [ ]:
#if (df["lic_no"]=="Any").any():          # lic_no column has null values filled with "license"
#    print(df["lic_no"])
#else:
#    #df["lic_no"].fillna("license", inplace=True)
#    df.fillna({"lic_no":"license"},inplace=True)

In [ ]:
df["cost"] = df["cost"].replace('₹', '', regex=True).str.strip().astype(float)

In [21]:
df["cost"]=df["cost"].bfill()

In [22]:
df["cost"].isnull().sum()

np.int64(0)

In [23]:
df.columns

Index(['name', 'city', 'rating', 'rating_count', 'cost', 'cuisine'], dtype='object')

In [ ]:
#df[['Area', 'City']] = df['city'].apply(
#    lambda x: x.split(',', 1) if ',' in str(x) else ['', x]
#).apply(pd.Series)

In [ ]:
# fill NaN cost using group mean
#if (df["cost"].isnull()).any():    
#    df["cost"] = df.groupby(['cuisine','cost'])['cost'].transform(lambda x: x.fillna(x.mode())) 
#else: 
#    df["cost"] = df["cost"]


#df["cost"] = df["cost"].fillna(df["cost"].mode())

In [ ]:

#df["rating"] = df["rating"].apply(lambda x: random.randint(1, 4) if pd.isnull(x) else x)

In [24]:
df["rating_count"].unique()

array(['Too Few Ratings', '50+ ratings', '100+ ratings', '20+ ratings',
       '500+ ratings', '1K+ ratings', '5K+ ratings', nan, '10K+ ratings'],
      dtype=object)

In [25]:
import random

In [26]:
# rating_count column has categorical values, we will convert them into numerical values
results = []
for i in df["rating_count"]:
    if i == "Too Few Ratings":
        results.append(random.randint(0, 20))
    elif i == '50+ ratings':
        results.append(random.randint(50, 100))
    elif i == '100+ ratings':   
        results.append(random.randint(100, 200))
    elif i == '20+ ratings':
        results.append(random.randint(20, 50))
    elif i == '500+ ratings':
        results.append(random.randint(500, 1000))
    elif i == '1K+ ratings':
        results.append(random.randint(1000, 5000))
    elif i == '5K+ ratings':
        results.append(random.randint(5000, 10000))
    elif i == '10K+ ratings':
        results.append(random.randint(10000, 20000))
    else:
        results.append(i)

In [27]:
df["rating_count"] = results

In [31]:
df["rating_count"].isnull().sum()

np.int64(0)

In [29]:
df = df.dropna(subset=["cuisine"],how='any')

In [30]:
df["cuisine"].isnull().sum()

np.int64(0)

In [32]:
df.head()

,name,city,rating,rating_count,cost,cuisine
id,,,,,,
567335,AB FOODS POINT,Abohar,--,11.0,200.0,"Beverages,Pizzas"
531342,Janta Sweet House,Abohar,4.4,62.0,200.0,"Sweets,Bakery"
158203,theka coffee desi,Abohar,3.8,101.0,100.0,Beverages
187912,Singh Hut,Abohar,3.7,27.0,250.0,"Fast Food,Indian"
543530,GRILL MASTERS,Abohar,--,16.0,250.0,"Italian-American,Fast Food"

In [33]:
df.shape

(148442, 6)

In [ ]:
# Replace '--' or other non-numeric values with 0, then convert
df["rating"] = df["rating"].replace('--', 0)
df["rating"]=df["rating"].astype(float)

C:\Users\Udhayakumar\AppData\Local\Temp\ipykernel_8472\1480122418.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rating"] = df["rating"].replace('--', 0)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148442 entries, 567335 to 447770
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148442 non-null  object
 1   city          148442 non-null  object
 2   rating        148442 non-null  float64
 3   rating_count  148442 non-null  float64
 4   cost          148442 non-null  float64
 5   cuisine       148442 non-null  object
dtypes: float64(3), object(3)
memory usage: 7.9+ MB

In [42]:
# check for null values in all columns
for i in df.columns:
    if (df[i].isnull()).any():
        print(i, df[i].isnull().sum())
    else:
        print(i, "No null values")

name No null values
city No null values
rating No null values
rating_count No null values
cost No null values
cuisine No null values

In [44]:
df.shape

(148442, 6)

In [56]:
df.to_csv("cleaned_data.csv", index=True)

In [57]:
import pandas as pd
df=pd.read_csv("cleaned_data.csv")
df.head()

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,0.0,11.0,200.0,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,62.0,200.0,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,101.0,100.0,Beverages
3,187912,Singh Hut,Abohar,3.7,27.0,250.0,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,0.0,16.0,250.0,"Italian-American,Fast Food"

In [58]:
df.set_index('id', inplace=True)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148442 entries, 567335 to 447770
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148442 non-null  object
 1   city          148442 non-null  object
 2   rating        148442 non-null  float64
 3   rating_count  148442 non-null  float64
 4   cost          148442 non-null  float64
 5   cuisine       148442 non-null  object
dtypes: float64(3), object(3)
memory usage: 7.9+ MB

In [5]:
df.shape

(148442, 6)

In [6]:
df["city"].unique()

array(['Abohar', 'Adilabad', 'Adityapur', 'Adoni', 'Agartala', 'Agra',
       'Vastrapur,Ahmedabad', 'GOTA,Ahmedabad',
       'Paldi & Ambawadi,Ahmedabad', 'Ghatlodia,Ahmedabad',
       'Bopal,Ahmedabad', 'Gandhinagar,Ahmedabad', 'LalDarwaja,Ahmedabad',
       'Naranpura,Ahmedabad', 'Navrangpura,Ahmedabad',
       'Science City,Ahmedabad', 'Maninagar,Ahmedabad',
       'Chandkheda,Ahmedabad', 'Ahmednagar', 'Aizawl', 'Ajmer', 'Akola',
       'Alappuzha', 'Aligarh', 'Alipurduar', 'Allahabad', 'Alwar',
       'Ambala', 'Ambikapur', 'Ambur', 'Amravati', 'Amreli', 'Amritsar',
       'Anand', 'Anantapur', 'Ankleshwar', 'Arakkonam', 'Arambagh',
       'Arrah', 'Aruppukottai', 'Asansol', 'Aurangabad',
       'Aurangabad_bihar', 'Azamgarh', 'Baddi', 'Bagalkot', 'Bagdogra',
       'Bahadurgarh', 'Bahraich', 'Balaghat', 'Balangir', 'Balasore',
       'Ballari', 'Balrampur', 'Balurghat', 'Banda',
       'Yeshwanthpur,Bangalore', 'Geddalahalli,Bangalore',
       'Koramangala,Bangalore', 'JP Nagar,Bangalore',
       'Mahadevpura,Bangalore', 'HSR,Bangalore', 'Arekere,Bangalore',
       'Indiranagar,Bangalore', 'Banashankari,Bangalore',
       'Whitefield,Bangalore', 'Nagavara & Hennur,Bangalore',
       'Kammanahalli/Kalyan Nagar,Bangalore',
       'Kumaraswamy Layout & Uttarahalli,Bangalore', 'BTM,Bangalore',
       'Battarahalli,Bangalore', 'Basaveshwaranagar,Bangalore',
       'Frazer Town,Bangalore', 'Sanjay Nagar, New BEL Road,Bangalore',
       'Yelahanka,Bangalore', 'Majestic,Bangalore',
       'Kanakapura Road,Bangalore', 'R.T. Nagar,Bangalore',
       'Kadugodi,Bangalore', 'Marathahalli,Bangalore',
       'Rajarajeshwari Nagar,Bangalore', 'CV Raman Nagar,Bangalore',
       'Electronic City,Bangalore', 'Rajajinagar,Bangalore',
       'Kadubeesanahalli,Bangalore', 'Shantinagar,Bangalore',
       'Jayanagar,Bangalore', 'Central Bangalore,Bangalore', 'Bantwal',
       'Bapatlachirala', 'Baramati', 'Baran', 'Bardhaman', 'Bardoli',
       'Bareilly', 'Barmer', 'Barnala', 'Barshi', 'Barwani', 'Basirhat',
       'Basti', 'Batala', 'Bathinda', 'Beawar', 'Beed', 'Begusarai',
       'Bela-pratapgarh', 'Belgaum', 'Berhampore', 'Berhampur', 'Bettiah',
       'Betul', 'Bhadohi', 'Bhadrachalam', 'Bhagalpur', 'Bhandara',
       'Bharabanki', 'Bharatpur', 'Bharuch', 'Bhatkal', 'Bhavnagar',
       'Bhawanipatna', 'Bhilai', 'Bhilwara', 'Bhimavaram', 'Bhind',
       'Bhiwadi', 'Bhiwani', 'Bhopal', 'Bhubaneswar', 'Bhuj', 'Bhusawal',
       'Bidar', 'Biharsharif', 'Bijapur', 'Bijnor', 'Bikaner', 'Bilaspur',
       'Bilimora', 'Bodhan-rural', 'Bodinayakanur', 'Boisar', 'Bokaro',
       'Bolpur', 'Bongaigaon', 'Bongaon', 'Budaun', 'Budhwal',
       'Bulandshahr', 'Buldana', 'Bundi', 'Burhanpur', 'Buxar',
       'Central-goa', 'Chakdaha', 'Chalakkudy', 'Chalisgaon', 'Chandausi',
       'Greater Mohali,Chandigarh', 'Zirakpur,Chandigarh',
       'East Chd,Chandigarh', 'North Mohali,Chandigarh',
       'South Mohali,Chandigarh', 'West Chd,Chandigarh',
       'Panchkula,Chandigarh', 'South Chd,Chandigarh', 'Chandrapur',
       'Changanassery', 'Chengannur', 'Poonamallee,Chennai',
       'OMR Navalur,Chennai', 'Mylapore,Chennai', 'Guindy,Chennai',
       'Annanagar,Chennai', 'Chrompet,Chennai', 'Urapakkam,Chennai',
       'George Town,Chennai', 'KK Nagar,Chennai', 'OMR Perungudi,Chennai',
       'Kilpauk,Chennai', 'Vadapalani,Chennai', 'Perambur,Chennai',
       'Royapettah,Chennai', 'Tambaram,Chennai', 'Padur,Chennai',
       'Velachery,Chennai', 'Nungambakkam,Chennai', 'Avadi,Chennai',
       'Porur,Chennai', 'Ramapuram,Chennai', 'Perumbakkam,Chennai',
       'ECR-Kottivakkam,Chennai', 'Egmore,Chennai', 'Arumbakkam,Chennai',
       'Madipakkam,Chennai', 'Ambattur,Chennai',
       'Mahindra World City,Chennai', 'Alwarpet,Chennai',
       'Mogappair,Chennai', 'Iyyapanthangal,Chennai',
       'Medavakkam,Chennai', 'Villivakkam,Chennai', 'Karappakam,Chennai',
       'Royapuram,Chennai', 'Adyar,Chennai', 'T Nagar,Chennai',
       'Purasawalkam,Chennai', 'Cherthala', 'Chhapra', 'Chhatarpur',
       'Chhindwara', 'Chidambaram', 'Chikhli', 'Chikkaballapur',
       'Chikmagalur', 'Chiplun', 'Chitradurga', 'Chittoor', 'Chittorgarh',
       'Chopda', 'Churu', 'Peelamedu,Coimbatore', 'Hopes,Coimbatore',
       'Race Course,Coimbatore', 'Sai Baba Colony,Coimbatore',
       'Gandhipuram,Coimbatore', 'Saravanampatti,Coimbatore',
       'Ramanathapuram,Coimbatore', 'Coi_Ganapathy,Coimbatore',
       'Cooch-behar', 'Cuddalore', 'Cuttack', 'Dahanu', 'Dahod', 'Daman',
       'Darbhanga', 'Darjeeling', 'Dausa', 'Davanagere',
       'Chukkuwala,Dehradun', 'Hathibarkala,Dehradun',
       'Race Course Dehradun,Dehradun', 'Jakhan,Dehradun', 'Dehri',
       'GTB Nagar,Delhi', 'Jasola,Delhi', 'Greater Noida,Delhi',
       'Mayur Vihar,Delhi', 'BBK_MayurVihar,Delhi', 'Laxmi Nagar,Delhi',
       'Punjabi Bagh,Delhi', 'Old Delhi,Delhi', 'Khan Market,Delhi',
       'Greater Kailash 2,Delhi', 'Ashok Vihar,Delhi',
       'Noida Expressway,Delhi', 'South Extension,Delhi',
       'Greater Kailash New,Delhi', 'Vasant Kunj,Delhi',
       'Uttam Nagar,Delhi', 'Dilshad Gardens,Delhi',
       'Connaught Place,Delhi', 'South Campus,Delhi', 'Rohini,Delhi',
       'BBK_Chattarpur,Delhi', 'Chattarpur,Delhi', 'Lajpat Nagar,Delhi',
       'Kirti Nagar,Delhi', 'Indirapuram,Delhi', 'Dwarka,Delhi',
       'Rajouri Garden,Delhi', 'NSP,Delhi', 'Malviya Nagar,Delhi',
       'Sector 18,Delhi', 'Deoghar', 'Dewas', 'Dhanbad', 'Dhar',
       'Dharamshala', 'Dharmapuri', 'Dharwad', 'Dhoraji', 'Dhule',
       'Dibrugarh', 'Dimapur', 'Dindigul', 'Diu', 'Doddaballapura',
       'Duliajan', 'Dumka', 'Durgapur', 'Eluru', 'Erode', 'Etawah',
       'Faizabad', 'Faridabad', 'Faridkot', 'Farrukhabad', 'Fatehabad',
       'Fatehgarh-sahib', 'Fatehpur', 'Fazilka', 'Firozabad', 'Firozpur',
       'Gadag-betigeri', 'Gadwal', 'Gandhidham', 'Gangapur-city',
       'Gangtok', 'Gauriganj', 'Gaya', 'Giridih', 'Godhra', 'Gokak',
       'Golaghat', 'Gonda', 'Gondal', 'Gondia', 'Gopalganj', 'Gorakhpur',
       'Gudivada', 'Guna', 'Guntakal', 'Guntur', 'Gurdaspur',
       'Greenfields_FBD,Gurgaon', 'Sector-14,Gurgaon',
       'Sector 15_FBD,Gurgaon', 'New DLF Phase 4,Gurgaon',
       'NIT_FBD,Gurgaon', 'New Sohna Road,Gurgaon',
       'Old Gurgaon (Zone 6),Gurgaon', 'sohna road,Gurgaon',
       'New Cyber City,Gurgaon', 'Paltan Bazaar,Guwahati',
       'Ganeshguri,Guwahati', 'Gwalior', 'Habra', 'Haldia', 'Haldwani',
       'Halol', 'Hampi', 'Hansi', 'Hanumangarh', 'Hapur', 'Hardoi',
       'Haridwar', 'Hassan', 'Himmatnagar', 'Hindaun', 'Hinganghat',
       'Hisar', 'Hoshangabad', 'Hoshiarpur', 'Hospet', 'Hubli',
       'Kompally,Hyderabad', 'Himayath Nagar,Hyderabad',
       'Jubilee Hills,Hyderabad', 'Kachiguda,Hyderabad',
       'Begumpet,Hyderabad', 'Kothapet & Dilsukhnagar,Hyderabad',
       'Lingampally & Nalagandla,Hyderabad', 'Balanagar & Idpl,Hyderabad',
       'Kondapur,Hyderabad', 'Ameerpet,Hyderabad',
       'Abids & Koti,Hyderabad', 'Banjara Hills,Hyderabad',
       'Gachibowli,Hyderabad', 'Suncity & Bandlaguda,Hyderabad',
       'Vanasthalipuram,Hyderabad', 'Nampally,Hyderabad',
       'Miyapur,Hyderabad', 'Manikonda,Hyderabad', 'Madhapur,Hyderabad',
       'Mehdipatnam,Hyderabad', 'Kharkhana & Trimulgherry,Hyderabad',
       'West Marredpally,Hyderabad',
       'Tarnaka, Nacharam & Malkajigiri,Hyderabad',
       'Santoshnagar & Saidabad,Hyderabad', 'Alwal,Hyderabad',
       'Padmarao Nagar,Hyderabad', 'Kukatpally,Hyderabad',
       'Nizampet & Pragathi Nagar,Hyderabad', 'Tolichowki,Hyderabad',
       'Nanakramguda,Hyderabad', 'Attapur,Hyderabad', 'Ichalkaranji',
       'Imphal', 'Sarafa,Indore', 'Vijay Nagar,Indore',
       'South Tukoganj,Indore', 'Bhawar Kuan,Indore',
       'Old Palasia,Indore', 'New Palasia,Indore', 'Irinjalakuda',
       'Itanagar', 'Itarsi', 'Jabalpur', 'Jagdalpur', 'Jagraon',
       'Jagtial', 'Jahanabad', 'Manasarovar,Jaipur', 'Jalaun', 'Jalgaon',
       'Jalpaiguri', 'Jammu', 'Jamnagar', 'Jamshedpur', 'Jaunpur',
       'Jhalawar', 'Jhansi', 'Jhargram', 'Jhunjhunu', 'Jind', 'Jodhpur',
       'Jorhat', 'Junagadh', 'Kadapa', 'Kadayanallur', 'Kadiri',
       'Kaithal', 'Kakinada', 'Kalaburagi', 'Kalady', 'Kamareddy',
       'Kanchrapara', 'Kannauj', 'Kannur', 'Kanpur', 'Kanyakumari',
       'Kapurthala', 'Karad', 'Karaikkudi', 'Karimnagar', 'Karnal',
       'Karunagappaly', 'Karur', 'Karwar', 'Kasaragod', 'Kashipur',
       'Katihar', 'Katni', 'Kavali', 'Kayamkulam', 'Kendujhar',
       'Khamgaon', 'Khammam', 'Khandwa', 'Khanna', 'Kharagpur',
       'Kishanganj', 'Kishangarh', 'Vyttila,Kochi', 'Kalamassery,Kochi',
       'Aluva,Kochi', 'Panampilly Nagar,Kochi', 'Lulu Mall,Kochi',
       'Fort Kochi,Kochi', 'Thrippunithura,Kochi', 'Kodaikanal', 'Kohima',
       'Kolar', 'Kolhapur', 'Howrah,Kolkata', 'South Kolkata,Kolkata',
       'Rajarhat,Kolkata', 'Burrabazar,Kolkata', 'North Dumdum,Kolkata',
       'Chinar Park,Kolkata', 'Kestopur,Kolkata', 'Kidderpore,Kolkata',
       'Salt Lake,Kolkata', 'Ruby Area,Kolkata', 'Santoshpur,Kolkata',
       'Bally,Kolkata', 'Central Kolkata,Kolkata', 'Garia,Kolkata',
       'Tangra,Kolkata', 'Esplanade,Kolkata', 'Kankurgachi,Kolkata',
       'Naktala,Kolkata', 'Behala,Kolkata', 'Alipore,Kolkata',
       'Lake Town,Kolkata', 'Dumdum,Kolkata', 'Jadavpur,Kolkata',
       'Thakurpukur,Kolkata', 'Hatibagan,Kolkata', 'Kollam', 'Kopargaon',
       'Koppal', 'Korba', 'Kota', 'Kotdwar', 'Kothagudem',
       'Kothamanagalam', 'Kottakkal', 'Kottarakkara', 'Kottayam',
       'Kovilpatti', 'Kozhikode', 'Krishnagiri', 'Krishnanagar',
       'Kumarakom', 'Kumbakonam', 'Kumta', 'Kundapura', 'Kunnamkullam',
       'Kurnool', 'Kurukshetra', 'Lakhimpur', 'Lalitpur', 'Latur',
       'Lonavala', 'Lonavla', 'Gomti Nagar,Lucknow', 'Hazratganj,Lucknow',
       'Bbd,Lucknow', 'Ashiyana,Lucknow', 'Aminabad,Lucknow',
       'Aliganj,Lucknow', 'Alambagh,Lucknow', 'Indira Nagar,Lucknow',
       'Civil Lines,Ludhiana', 'BRS Nagar,Ludhiana',
       'Model Town,Ludhiana', 'Dugri,Ludhiana', 'Machilipatnam',
       'Madanapalle', 'Madhubani', 'Madikeri', 'Madurai', 'Mahbubnagar',
       'Malappuram', 'Malda', 'Malegaon', 'Malout', 'Manali',
       'Mancherial', 'Mandi-dabwali', 'Mandi-gobindgarh', 'Mandsaur',
       'Mandya', 'Mangaluru', 'Manipal', 'Manjeri', 'Mansa', 'Markapur',
       'Mathura', 'Maunath-bhanjan', 'Mayiladuthurai', 'Medinipur',
       'Meerut', 'Mehsana', 'Miryalaguda', 'Mirzapur', 'Modinagar',
       'Moga', 'Moodbidri', 'Moradabad', 'Morbi', 'Morena', 'Motihari',
       'Mount-abu', 'Mughalsarai', 'Muktsar', 'Virar,Mumbai',
       'Powai,Mumbai', 'Kamothe,Mumbai', 'Mulund,Mumbai',
       'Mahalaxmi Malabar Hill,Mumbai', 'Vashi,Mumbai',
       'Bandra West,Mumbai', 'Scruz Bandra East,Mumbai',
       'Fort Colaba,Mumbai', 'Bhayandar,Mumbai', 'Mahim Dadar,Mumbai',
       'Starbucks_BKC,Mumbai', 'Vasai,Mumbai', 'Matunga Wadala,Mumbai',
       'Airoli,Mumbai', 'Munger', 'Murshidabad', 'Mussoorie',
       'Muvattupuzha', 'Muzaffarnagar', 'Muzaffarpur',
       'Mysore North,Mysore', 'Mysore South,Mysore', 'Nabadwip', 'Nadiad',
       'Nagaon', 'Nagapattinam', 'Nagda', 'Nagercoil',
       'Dharampeth,Nagpur', 'Nandanvan,Nagpur', 'Sitabuldi,Nagpur',
       'Gandhibagh,Nagpur', 'Bajaj Nagar,Nagpur', 'Manish Nagar,Nagpur',
       'Sadar,Nagpur', 'Wardha Road,Nagpur', 'Naharlagun', 'Nainital',
       'Nalgonda', 'Namakkal', 'Nanded', 'Nandurbar', 'Nandyal', 'Nangal',
       'Naraingarh', 'Narasaraopet', 'Narnaul', 'Narsinghpur', 'Navsari',
       'Neemuch', 'Nellore', 'Neyveli', 'Nipani', 'Nirmal', 'Nizamabad',
       'Raj Nagar,Noida', 'Noida-1', 'North-goa', 'Ongole', 'Ooty',
       'Orai', 'Osmanabad', 'Pala', 'Palakkad', 'Palampur', 'Palani',
       'Palanpur', 'Pali', 'Panipat', 'Parbhani', 'Pathankot', 'Patiala',
       'Patna', 'Perinthalmanna', 'Phagwara', 'Pilibhit', 'Pondicherry',
       'Porbandar', 'Proddatur', 'Pudukkottai', 'Wanowrie,Pune',
       'Koregaon Park,Pune', 'Hadapsar,Pune', 'Warje,Pune',
       'Pimple Saudagar,Pune', 'Kothrud,Pune', 'Vishrantwadi,Pune',
       'Sangvi,Pune', 'Bibwewadi,Pune', 'Wakad,Pune', 'Kondhwa,Pune',
       'Swargate,Pune', 'Nigdi,Pune', 'Bavdhan,Pune', 'Bhosari,Pune',
       'Sinhgad Road,Pune', 'Wagholi,Pune', 'Narhe,Pune',
       'Hinjewadi,Pune', 'Bopodi,Pune', 'PCMC,Pune', 'Dhankawadi,Pune',
       'Viman Nagar,Pune', 'Aundh,Pune', 'Kalyani Nagar,Pune',
       'Kharadi,Pune', 'Shivaji Nagar,Pune', 'Hinjewadi Phase-3,Pune',
       'Baner,Pune', 'Magarpatta,Pune', 'Puri', 'Purnea', 'Purulia',
       'Pusad', 'Puttur', 'Rae-bareli', 'Raghunathpur', 'Raichur',
       'Raiganj', 'Raigarh', 'Raipur', 'Rajahmundry', 'Rajapalayam',
       'Rajkot', 'Rajnandgaon', 'Rajsamand', 'Ramagundam', 'Ramanagara',
       'Ramanathapuram', 'Rampur', 'Ranaghat-wb', 'Ranchi', 'Rangpo',
       'Ranibennur', 'Raniganj', 'Ratlam', 'Ratnagiri', 'Rayachoty',
       'Rewa', 'Rewari', 'Rishikesh', 'Rohtak', 'Roorkee', 'Ropar',
       'Rourkela', 'Rudrapur', 'Sagar', 'Saharanpur', 'Saharsa', 'Salem',
       'Samastipur', 'Sambalpur', 'Sangamner', 'Sangli', 'Sangrur',
       'Sasaram', 'Satara', 'Satna', 'Sawai-madhopur', 'Sehore',
       'Shahjahanpur', 'Shikohabad', 'Shillong', 'Shimla', 'Shivamogga',
       'Shivpuri', 'Shrirampur', 'Siddipet', 'Sikar', 'Silchar',
       'Siliguri', 'Silvassa', 'Sindhanur', 'Singrauli', 'Sirsa', 'Sirsi',
       'Sitapur', 'Sivakasi', 'Sivasagar', 'Siwan', 'Solan', 'Solapur',
       'Sonipat', 'South-goa', 'Sri-ganganagar', 'Srikakulam',
       'Srivilliputhur', 'Sultanpur', 'Athwa,Surat', 'Adajan,Surat',
       'Piplod,Surat', 'Suratgarh', 'Surendranagar-dudhrej', 'Suryapet',
       'Tadepalligudem', 'Tadpatri', 'Tanuku', 'Tarn-taran-sahib',
       'Tenkasi', 'Tezpur', 'Thalassery', 'Thanjavur', 'Theni',
       'Thiruvalla', 'Thiruvallur', 'Thiruvananthapuram', 'Thiruvarur',
       'Thodupuzha', 'Thoothukudi', 'Thrissur', 'Tinsukia', 'Tiptur',
       'Tirunelveli', 'Tirupati', 'Tirupur', 'Tiruvannamalai', 'Tohana',
       'Trichy', 'Tumakuru', 'Tuni', 'Udaipur', 'Udgir', 'Ujjain',
       'Uluberia', 'Uran-islampur', 'Akota,Vadodara', 'Alkapuri,Vadodara',
       'Vadiwadi,Vadodara', 'Valsad', 'Vapi', 'Varanasi', 'Varkala',
       'Vellore', 'Veraval', 'Vidisha',
       'Benz Circle and Auto Nagar,Vijayawada', 'Governorpet,Vijayawada',
       'Virudhunagar', 'Visnagar', 'N A D,Vizag', 'Gajuwaka,Vizag',
       'Jagadamba Junction,Vizag', 'MVP Colony,Vizag',
       'Dwarka Nagar,Vizag', 'Vizianagaram', 'Vyara', 'Waidhan',
       'Warangal', 'Wardha', 'Washim', 'Yamuna-nagar', 'Yavatmal'],
      dtype=object)

In [62]:
df.head()

,name,city,rating,rating_count,cost,cuisine
id,,,,,,
567335,AB FOODS POINT,Abohar,0.0,11.0,200.0,"Beverages,Pizzas"
531342,Janta Sweet House,Abohar,4.4,62.0,200.0,"Sweets,Bakery"
158203,theka coffee desi,Abohar,3.8,101.0,100.0,Beverages
187912,Singh Hut,Abohar,3.7,27.0,250.0,"Fast Food,Indian"
543530,GRILL MASTERS,Abohar,0.0,16.0,250.0,"Italian-American,Fast Food"

In [63]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MultiLabelBinarizer
ohe=OneHotEncoder()
le=LabelEncoder()
mlb=MultiLabelBinarizer()

In [64]:
df["name"]=le.fit_transform(df["name"])

In [65]:
df["name"].unique()

array([  1583,  47415, 112634, ...,  18414,  34955,  54916],
      shape=(112808,))

In [68]:
# 1. Split by comma (multiple sub-locations)
df["city"] = df["city"].apply(lambda x: [i.strip() for i in x.split(',')])

# 2. Apply MultiLabelBinarizer
mlb = MultiLabelBinarizer()
city_new = mlb.fit_transform(df["city"])

# 3. Create new columns for each unique city/area
encoded_df = pd.DataFrame(city_new, columns=mlb.classes_)

# 4. Combine with original DataFrame
df = pd.concat([df, encoded_df], axis=1)

In [69]:
df.head()

,name,city,rating,rating_count,cost,cuisine,Abids & Koti,Abohar,Adajan,Adilabad,...,Washim,West Chd,West Marredpally,Whitefield,Yamuna-nagar,Yavatmal,Yelahanka,Yeshwanthpur,Zirakpur,sohna road
567335,1583.0,[Abohar],0.0,11.0,200.0,"Beverages,Pizzas",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531342,47415.0,[Abohar],4.4,62.0,200.0,"Sweets,Bakery",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158203,112634.0,[Abohar],3.8,101.0,100.0,Beverages,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187912,90297.0,[Abohar],3.7,27.0,250.0,"Fast Food,Indian",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
543530,34936.0,[Abohar],0.0,16.0,250.0,"Italian-American,Fast Food",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN